<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/modernizr.js"></script>
  </head>
  <body>
    <h1>hello</h1>
    csdsada


    <div class="destination">

    </div>

    <script type="text/template" data-template="panel">

      <ul class="tabs">
        <li class="active">
          <a href="#">All</a>
        </li>
        {{if Years}}
        {{Years}}
        <li>
          <a href="#">{{.}}</a>
        </li>
        {{/Years}}
        {{/if}}
      </ul>

      {{if Results}}
      {{Results}}
      <div class="swiper-slide">
        <h1>{{Name}}</h1>
        <img src="{{Image}}" />
      </div>
      {{/Results}}
      {{/if}}

    </script>

    <script src="/assets/js/bundle.js"></script>
    <script src="//localhost:35729/livereload.js"></script>

  </body>


</html>